@import "src/app/shared/colors.scss";
.search {
  width: 100%;
  height: 90px;
  transition: all 200ms;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  .search-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 60% 40%;
  }
  .add-next-product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-column: 1/3;
    button {
      font-size: 19px;
      height: 45px;
      background-color: $blue;
      color: $white;
      margin-right: 15px;
      text-shadow: 0px 1px 0px transparent;
      opacity: 1;
      transition: all 250ms;
      &:disabled {
        color: $white;
        background-color: $red;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
          0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        opacity: 0.8 !important;
        text-shadow: 0px 1px 0px rgb(0 0 0 / 30%);
      }
    }
    ::ng-deep {
      .mat-ripple-element {
        background-color: rgba(255, 255, 255, 0.226);
      }
    }
  }
  &--inputs {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    mat-form-field {
      width: 60%;
      transform: translateY(10px);
    }
    mat-form-field:nth-child(2),
    mat-form-field:nth-child(3) {
      margin-left: 7px;
      width: 17%;
      input {
        width: 65%;
      }
      span {
        opacity: 0.7;
        position: relative;
        right: 7px;
      }
    }
    mat-form-field button {
      color: $black;
      opacity: 0.6;
      transition: all 250ms ease-out;
      margin-right: 2px;
      &:hover {
        color: $blue-low-opacity;
        transition: all 250ms ease-out;
        opacity: 1;
      }
      transform: translate(-1px, 5px);
    }
  }
  .selected-product {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 70%;
    grid-column: 2/4;
    transform: translateY(10px);
    background-color: $white;
    &__macro {
      opacity: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 5px;
      font-size: 19px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      height: 100%;
      color: $black;
      span {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      span:first-child::before {
        content: "B ";
      }
      span:nth-child(2)::before {
        content: "W ";
      }
      span:nth-child(3)::before {
        content: "T ";
      }
    }
    &--button {
      display: flex;
      grid-column: 2/3;
      justify-content: center;
      align-items: center;
      button {
        font-size: 20px;
        height: 42px;
        width: 120px;
        background-color: $blue;
        color: $white;
        text-shadow: 0px 1px 0px transparent;
        &:disabled {
          color: $white;
          background-color: $red;
          box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
            0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
          outline: none;
          text-shadow: 0px 1px 0px rgb(0 0 0 / 30%);
        }
      }
    }
  }
  ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0 0 0 10px;
    }
    .mat-form-field-label-wrapper {
      top: -0.44375em;
      padding-top: 0.84375em;
    }
    .mat-form-field-appearance-fill .mat-form-field-infix input {
      transform: translateY(5px);
    }
  }
}
.search--diary-mode {
  height: 75px;
}
