@import "src/app/shared/colors.scss";
.container {
  width: 100%;
  height: 93.6%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  .meal-template-list {
    width: 85%;
    height: 93%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    // background-color: rgba(0, 255, 0, 0.082);
    &__header {
      margin: 0.5% 0;
      font-size: 24px;
      text-align: center;
    }
    &__line {
      width: 73%;
      margin: 10px 0;
      box-shadow: 0px 0px 1px #f7f7f7;
      border-top: solid 1px $gray-light;
    }
    &__empty {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      font-size: 25px;
      gap: 25px;
      button {
        font-size: 19px;
      }
    }
    mat-accordion {
      width: 80%;
    }
    mat-expansion-panel {
      background-color: $white;
      margin: 12px 0;
      mat-panel-title {
        font-size: 19px;
        span:first-child {
          margin-right: 15px;
        }
        span:nth-child(2) {
          font-size: 22px;
        }
      }
      mat-panel-description {
        .description {
          font-size: 17.54px;
          span::after {
            content: "g /";
            margin-right: 7px;
          }
          span:first-child::before {
            content: "B";
          }
          span:nth-child(2)::before {
            content: "W";
          }
          span:nth-child(3)::before {
            content: "T";
          }
          span::before {
            margin-right: 3px;
          }
          span:last-child::after {
            content: "kcal";
          }
        }
      }
    }
    .product,
    ul,
    .product-summary {
      min-height: 40px;
      display: grid;
      // grid-template-columns: 6% 32% repeat(5, 12.4%);
      grid-template-columns: 0.5fr 3fr repeat(5, 1fr);
      border: 1px solid $gray-light-50-opacity;
      li,
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
      }
    }
    ul {
      list-style: none;
      li:not(:last-child) {
        border-right: 1px solid $gray-light-50-opacity;
      }
    }

    .product {
      border-top: transparent;
      span {
        padding: 5px;
      }
      span:nth-child(3),
      span:nth-child(4),
      span:nth-child(5),
      span:nth-child(6) {
        &::after {
          content: "g";
          margin-left: 3px;
          opacity: 0.9;
          font-size: 18px;
        }
      }
      span:not(:last-child) {
        border-right: 1px solid $gray-light-50-opacity;
      }
    }
    .product-summary {
      height: 60px;
      &__buttons {
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        grid-column: 1/4;
        button {
          width: 70%;
          font-size: 19px;
          color: $white;
          margin: 0 15px;
        }
        :first-child {
          background-color: $red;
        }
        :nth-child(2) {
          background-color: $blue;
        }
      }
      span:nth-child(2) {
        border-left: 1px solid $gray-light-50-opacity;
        grid-column: 4/5;
      }

      span {
        border-bottom: 1px solid $gray-light-50-opacity;
        border-right: 1px solid $gray-light-50-opacity;
      }
      border: none;
    }
  }
  .meal-template-edit {
    width: 85%;
    height: 93%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    opacity: 0;
    // background-color: rgba(0, 255, 0, 0.082);
    &__header {
      margin: 0.5% 0;
      font-size: 24px;
      text-align: center;
    }
    &__line {
      width: 73%;
      margin: 10px 0;
      box-shadow: 0px 0px 1px #f7f7f7;
      border-top: solid 1px $gray-light;
    }
    &__back {
      margin-right: 15px;
      button {
        color: $black;
        font-size: 22px;
        cursor: pointer;
        border: 2px solid transparent;
        border-bottom: 2px solid $blue;
        background-color: transparent;
        transition: 125ms border-bottom ease-in;
        &:hover {
          border: 2px solid transparent;
          transition: 125ms border-bottom ease-in;
        }
        &:focus {
          outline: none;
        }
      }
    }
    app-meal-template-body {
      width: 100%;
    }
  }
  ::ng-deep {
    .mat-ripple-element {
      background-color: rgba(255, 255, 255, 0.226);
    }
    .mat-expansion-panel-header-description {
      flex-direction: row-reverse;
    }
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      margin: 0;
    }
  }
}
