<form #userForm="ngForm">
  <mat-form-field appearance="fill" [formGroup]="loginForm">
    <mat-label>Login / E-mail</mat-label>
    <input matInput type="text" formControlName="login" [(ngModel)]="login" />
    <login-control-messages
      [control]="loginForm.get('login')"
    ></login-control-messages>
  </mat-form-field>
  <div class="password-wrapper">
    <div class="forgot-password-container">
      <button routerLink="my-account/forgot-password" mat-dialog-close>
        Nie pamiętam hasła
      </button>
    </div>
    <mat-form-field appearance="fill" [formGroup]="loginForm">
      <mat-label>Hasło</mat-label>
      <input matInput formControlName="password" />
      <login-control-messages
        [control]="loginForm.get('password')"
      ></login-control-messages>
    </mat-form-field>
  </div>
  <div class="submit-button-container">
    <button type="submit" mat-stroked-button (click)="loginSubmit()">
      Zaloguj się
    </button>
  </div>
</form>
