@import "src/app/shared/colors.scss";

.about-me-container {
  display: grid;
  width: 100%;
  grid-template-columns: [col1-start] 32% [col2-start] 32% [col3-start] 32% [col3-end];
  grid-template-rows: 170px repeat(3, 160px);
  grid-column-gap: 2%;
  .user-login-header {
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 600;
    grid-column: col1-start / col2-start;
    span {
      position: relative;
      top: 15px;
    }
  }
  .weight-chart {
    grid-column: 2 / 4;
  }
  .two {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-expansion-panel {
      width: 45%;
      margin: 0 10px;
    }

    .calories {
      color: $blue;
      width: 100%;
      text-align: center;
      margin: 5px;
      font-size: 30px;
      font-weight: 600;
    }

    ul {
      align-items: flex-start;
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      font-size: 22px;
      list-style: none;
      li {
        margin: 4px;
      }
      .macro-item {
        color: $blue;
        font-weight: 600;
        font-size: 22px;
        .macro-unit {
          color: $black;
          margin-left: 3px;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
  .three {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4;

    mat-expansion-panel {
      width: 92.7%;
      margin: 0 1.5rem;
    }
  }
  .four {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4;
    padding: 0.2rem;
    mat-expansion-panel {
      width: 92.7%;
      margin: 0 1.5rem;
    }
  }
  mat-panel-title {
    font-size: 1.5rem;
    padding: 1em 0;
  }
}
