@import "../../../styles/colors.scss";
@import "../login/login-dialog.component.scss";

.return-to-login {
  font-weight: 500;
  display: flex;
  width: 50%;
  flex-direction: row-reverse;
  button {
    cursor: pointer;
    color: $blue;
    font-size: 0.7em;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $blue;
    transition: 100ms border-bottom ease-in;
    &:hover {
      border-bottom: 2px solid transparent;
      transition: 100ms border-bottom ease-in;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
}
.register-dialog-container {
  width: 30em;
  height: 26em;
}

::ng-deep .cdk-overlay-dark-backdrop {
  background: $dialog-background;
}
::ng-deep .ng-star-inserted {
  font-size: 1.1em;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: $blue !important;
  font-weight: 500;
}
::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $blue;
}
