<div class="forgot-password-container">
  <div class="close-icon">
    <button>
      <mat-icon routerLink="home" matDialogClose matTooltip="Zamknij" matTooltipClass="close-dialog-tooltip"
        [matTooltipPosition]="tooltipPosition">close</mat-icon>
    </button>
  </div>
  <h3 mat-dialog-title>
    <span class="title">Odzyskiwanie hasła</span>
    <span class="back-container"><button routerLink="login" mat-dialog-close>Powrót</button></span>
  </h3>
  <mat-form-field appearance="fill">
    <mat-label>Podaj adres e-mail</mat-label>
    <input matInput type="text" [formControl]="email" />
    <mat-error *ngIf="errorMessage !== null">{{ errorMessage }}</mat-error>
  </mat-form-field>
  <div class="submit-button-container">
    <button type="submit" mat-stroked-button (click)="submit()">
      Odzyskaj konto
    </button>
  </div>
</div>
