@import "src/app/shared/colors.scss";
@import "../login/login-dialog.component.scss";

.register-dialog-wrapper {
  .title {
    width: 50%;
  }
  h3 {
    display: flex;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 45px;
  }
  .register-dialog-container {
    width: 520px;
    height: 470px;
  }
  .return-to-login {
    font-weight: 500;
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
    button {
      cursor: pointer;
      color: $blue;
      font-size: 22px;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid $blue;
      transition: 100ms border-bottom ease-in;
      &:hover {
        border-bottom: 2px solid transparent;
        transition: 100ms border-bottom ease-in;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  .close-icon {
    height: 15px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    button {
      position: relative;
      bottom: 22px;
      left: 22px;
      background-color: transparent;
      border: none;
      outline: none;
    }
    mat-icon {
      font-weight: 600;
      font-size: 26px;
      outline: none;
      cursor: pointer;
      opacity: 0.7;
      color: $black;
      transition: all 150ms ease-out;
      &:hover {
        color: $blue;
        opacity: 1;
        transition: all 150ms ease-out;
      }
    }
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    color: $black !important;
    font-weight: 500;
  }
  ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $blue;
  }
}
