.logo-icon {
  stroke-dasharray: 5000;
  stroke-dashoffset: 0;
  color: rgb(0, 0, 0);
}
svg {
  cursor: pointer;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}
.submit-button-container {
  width: 100%;
}
