@import "src/app/shared/colors.scss";

.user-logo {
  opacity: 0.85;
  transition: 300ms opacity ease-in;
  margin-left: -30px;
  transform: scale(0.8);
  &:hover {
    opacity: 1;
    transition: 300ms opacity ease-out;
  }
}

.logo-icon {
  stroke-dasharray: 5000;
  stroke-dashoffset: 0;
  color: rgb(0, 0, 0);
}
svg {
  cursor: pointer;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}
.submit-button-container {
  width: 100%;
}
