@import "src/app/shared/colors.scss";
.container {
    width: 100%;
    height: 93.6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    .template-addition {
        width: 85%;
        height: 93%;
        display: flex;
        align-items: center;
        flex-direction: column;
        // background-color: rgba(0, 255, 0, 0.082);
        &__header {
            margin: 0.5% 0;
            font-size: 24px;
            text-align: center;
        }
        &__line {
            width: 73%;
            margin: 10px 0;
            box-shadow: 0px 0px 1px #f7f7f7;
            border-top: solid 1px $gray-light;
        }
    }
    app-meal-template-body {
        width: 100%;
    }
     ::ng-deep {
        .mat-select-value {
            transform: translateY(-4px);
        }
    }
}
