@import "src/app/shared/colors.scss";

.chip-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container {
  width: 100%;
  height: 93.6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  .template-addition {
    width: 85%;
    height: 93%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // background-color: rgba(0, 255, 0, 0.082);
    &__header {
      margin: 0.5% 0;
      font-size: 24px;
      text-align: center;
    }
    &__line {
      width: 73%;
      margin: 10px 0;
      box-shadow: 0px 0px 1px #f7f7f7;
      border-top: solid 1px $gray-light;
    }
    .meal-template {
      width: 95%;
      box-shadow: 0px 2px 5px -3px rgb(0 0 0 / 5%),
        0px 8px 10px 1px rgb(0 0 0 / 5%), 0px 3px 8px 2px rgb(0 0 0 / 7%);
      margin-top: 10px;

      &__header {
        height: 60px;
        background-color: $white;
        border-bottom: 1px solid $gray-light-50-opacity;
        display: flex;
        align-items: center;
        // background-color: rgba(174, 0, 255, 0.226);
        &--timepicker {
          // width: 12%;
          // background-color: rgba(0, 183, 255, 0.397);
          input {
            transform: translateX(12px);
            cursor: pointer;
            font-size: 30px;
            width: 76px;
            outline: none;
            border: none;
          }
        }
        &--name {
          width: 100%;
          height: 50px;
          margin-left: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          // background-color: rgba(0, 255, 0, 0.377);
          font-size: 22px;
          mat-form-field {
            width: 55%;
          }
        }
        ::ng-deep {
          .mat-form-field-infix {
            padding: 0.15em 0;
          }
          input.mat-input-element {
            transform: translateY(-5px);
          }
        }
      }
      &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 94%;
        // margin-bottom: 10px;
      }
      &__headers {
        width: 100%;
        height: 40px;
        display: grid;
        grid-template-columns: 33% repeat(5, 13.4%);
        border-bottom: 1px solid $gray-light-50-opacity;

        li {
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          border-right: 1px solid $gray-light-50-opacity;
        }
        li:last-child {
          border-right: 0;
        }
      }
      &__body {
        width: 100%;
        // height: auto;

        &--products {
          height: auto;
          display: flex;
          flex-direction: column;
        }
        &--no-products {
          border-bottom: 1px solid $gray-light-25-opacity;
          height: 50px;
        }
        &--products .cdk-drop-list-dragging {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
        &--product {
          // background-color: rgba(127, 255, 212, 0.425);a
          width: 100%;
          height: 50px;
          grid-template-columns: 33% repeat(5, 13.4%);
          display: grid;
          .chip-box,
          mat-chip,
          .quantity,
          .calory,
          .macro-item {
            font-size: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid $gray-light-25-opacity;
            border-bottom: 1px solid $gray-light-25-opacity;
            input {
              display: flex;
              transform: translateY(0px);
              height: 35px;
              z-index: 1;
            }
          }

          .quantity input {
            transform: translateX(14px);
            width: 65px;
            // background-color: rgba(255, 255, 0, 0.459);
          }

          .calory input {
            transform: translateX(11px);
            width: 53px;
            // background-color: rgba(255, 255, 0, 0.459);
          }

          div:nth-child(6) {
            border-right: 1px solid $white;
          }
          .quantity,
          .calory {
            position: relative;

            input {
              &:hover:not(:focus) + .input-bottom-line {
                transition: all ease-in 100ms;
                opacity: 0.6;
                border-bottom: 2px solid $black;
              }
              &:focus + .input-bottom-line {
                transition: all ease-in 150ms;
                opacity: 1;

                border-bottom: 2px solid $blue;
              }
            }

            .input-bottom-line {
              z-index: 0;
              position: absolute;
              transform: translateX(2px);
              height: 60%;
              width: 50px;
              transition: all ease-in 150ms;
              opacity: 1;
              border-bottom: 2px solid $gray-light-25-opacity;
            }
          }
          .calory .input-bottom-line {
            width: 35px;
            transform: translateX(0px);
          }
          .macro-item span {
            margin-left: 4px;
          }
          span {
            opacity: 1;
          }
          .move-left-one-digit-length {
            transform: translateX(-35px);
          }
          .move-left-two-digit-length {
            transform: translateX(-25px);
          }
          .move-left-three-digit-length {
            transform: translateX(-15px);
          }
        }
        ::ng-deep {
          .mat-chip-list-wrapper {
            flex-direction: column;
            margin: 0;
          }
        }
      }
      &__add {
        width: 100%;
        height: 90px;
        display: grid;
        grid-template-columns: 60% 40%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        &--inputs {
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;

          mat-form-field {
            width: 60%;
            transform: translateY(10px);
          }
          mat-form-field:nth-child(2),
          mat-form-field:nth-child(3) {
            margin-left: 7px;
            width: 17%;
            input {
              width: 65%;
            }
            span {
              opacity: 0.7;
              position: relative;
              right: 7px;
            }
          }
        }
        .selected-product {
          display: grid;
          grid-template-columns: 65% 35%;
          height: 70%;
          transform: translateY(10px);
          background-color: $white;
          &__macro {
            opacity: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 19px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            height: 100%;
            color: $black;
            span {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            span:first-child::before {
              content: "B ";
              color: $blue;
            }
            span:nth-child(2)::before {
              content: "W ";
              color: $blue;
            }
            span:nth-child(3)::before {
              content: "T ";
              color: $blue;
            }
          }
          &--button {
            display: flex;
            grid-column: 2/3;
            justify-content: center;
            align-items: center;
            button {
              font-size: 20px;
              height: 40px;
              background-color: $blue;
              color: $white;
            }
          }
        }

        ::ng-deep {
          .mat-form-field-appearance-fill .mat-form-field-flex {
            padding: 0 0 0 10px;
          }
          .mat-form-field-label-wrapper {
            top: -0.44375em;
            padding-top: 0.84375em;
          }
          .mat-form-field-appearance-fill .mat-form-field-infix input {
            transform: translateY(5px);
          }
        }
      }
      &__summary {
        height: 200px;
        width: 100%;
        display: grid;
        font-size: 20px;
        grid-template-columns: 65% 35%;
        grid-template-rows: 0.6fr repeat(3, 0.7fr 1fr);
        border-bottom: 2px solid $gray-light-25-opacity;
        &::before {
          content: "";
          grid-row: 1/2;
        }
        &--properties,
        &--percentage {
          grid-column: 1/2;
        }
        &--calory {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 26px;
          grid-column: 2/3;
          grid-row: 1/8;
          // background-color: antiquewhite;
          span:first-child {
            transform: translateY(-47px);
            justify-self: flex-start;
          }
          span:nth-child(2) {
            &::after {
              content: "kcal";
              margin-left: 7px;
              font-size: 23px;
            }
          }
        }
        &--properties {
          transform: translate(10px, 10px);
          font-size: 20px;
          span:nth-child(2) {
            margin-left: 35px;
            &::after {
              content: "kcal";
            }
          }
          span:nth-child(3) {
            margin-left: 35px;
            &::after {
              content: "g";
            }
          }
          span::after {
            font-size: 19px;
            opacity: 0.9;
          }
        }
        &--percentage {
          // background-color: #0bc248;
          display: grid;
          align-items: center;
          grid-template-columns: 90% 10%;
          span {
            display: flex;
            justify-content: center;
            margin: 0 7px;
            &::after {
              content: "%";
            }
          }
        }
        &--percentage:last-child {
          margin-bottom: 8px;
        }
      }
      &__buttons {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
          font-size: 19px;
          height: 60%;
        }
        button:first-child {
          color: $black;
          background-color: $white;
        }
        button:nth-child(2) {
          background-color: $white;
          color: $black;
          &:disabled {
            background-color: transparent;
            border: none;
            outline: none;
          }
        }
        button:last-child {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
  ::ng-deep {
    .mat-select-value {
      transform: translateY(-4px);
    }
  }
}
.option {
  font-size: 19px;
}

::ng-deep {
  .mat-standard-chip .mat-chip-remove.mat-icon {
    width: 22px !important;
    height: 22px !important;
    transform: translateY(2px);
    color: $white !important;
    opacity: 0.6 !important;
    transition: opacity 200ms ease-in;
    &:hover {
      opacity: 0.8 !important;
      transition: opacity 200ms ease-in;
    }
  }
  .mat-progress-bar-fill::after {
    background-color: $blue;
  }
  .mat-progress-bar-buffer {
    background-color: $blue-gray;
  }
  // .mat-progress-bar {
  //   grid-column: 1/3;
  // }
  // .mat-option-text {
  //   display: grid !important;
  //   flex-grow: 1;
  //   grid-template-columns: repeat(2, 50%);
  // }

  .timepicker-dial__time {
    color: $black !important;
  }
  .timepicker-dial__item {
    color: $black-low-opacity !important;
  }

  .timepicker-dial__item_active {
    color: $black !important;
  }
  .timepicker-dial__item_inactive {
    opacity: 1;
  }
  .timepicker-dial__control {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .timepicker-dial__period {
    display: none !important;
  }
  .timepicker__header {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    background-color: $white !important;
  }
  .timepicker-backdrop-overlay {
    background-color: $dialog-background !important;
  }
  .timepicker__main-content {
    background-color: green !important;
  }
  .clock-face {
    background-color: $timepicker-face-color !important;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  .clock-face__number--outer > span {
    font-weight: 600 !important;
    font-size: 20px !important;
  }
  .clock-face__number--inner > span {
    font-weight: 500 !important;
    font-size: 18px !important;
  }

  .clock-face__number > span.active {
    background-color: $blue !important;
  }
  ngx-material-timepicker-content {
    --body-background-color: #f9fcff;
    --primary-font-family: "Poppins", sans-serif;
    --dial-editable-active-color: $blue !important;
    --clock-hand-color: #3186f5 !important;
  }
  .cancel-button {
    background-color: $white;
    color: $black;
    font-size: 20px;
  }
  .confirm-button {
    background-color: $blue;
    color: $white;
    font-size: 20px;
  }
  .timepicker__actions {
    justify-content: space-between !important;
  }
}
