$blue: #3186f5;
$blue-low-opacity: #3186f5b2;
$red-low-opacity: #f53131b2;
$gray-low-opacity: #9b9b9bc4;
$white: #f9fcff;
$black: #09090a;
$dialog-background: #5481b479;
$facebook-color: #3b5998;
$gray-light: #b5bfc7;
$gray-light-low-opacity: #b5bfc779;
$gray-dark: #7e8b96;
$gray-blue: #e6f0ff;
$red: #f53131;
$red-low-opacity: #f53131be;
