$blue: #3186f5;
$blue-low-opacity: #3186f5b2;
$blue-gray: rgb(215, 229, 247);
$red-low-opacity: #f53131b2;
$gray-low-opacity: #9b9b9bc4;
$white: #f9fcff;
$black: #09090a;
$black-low-opacity: rgba(9, 9, 10, 0.563);
$dialog-background: #5481b479;
$facebook-color: #3b5998;
$gray-light: #b5bfc7;
$gray-light-50-opacity: rgba(181, 191, 199, 0.5);
$gray-light-25-opacity: rgba(181, 191, 199, 0.32);
$gray-dark: #7e8b96;
$gray-blue: #e6f0ff;
$red: #f53131;
$red-low-opacity: #f53131be;
$timepicker-face-color: rgba(0, 0, 0, 0.033);
