<!-- <mat-tab-group class="profile-navigation-container">
  <mat-tab label="O mnie">
    <app-profile-editor></app-profile-editor>
  </mat-tab>
  <mat-tab label="Aktualizacja profilu">
    <app-about-me></app-about-me>
  </mat-tab>
  <mat-tab label="Ustawienia">
    <app-about-me></app-about-me>
  </mat-tab>
</mat-tab-group> -->
<div class="profile-navigation-container">
  <nav mat-tab-nav-bar class="sub-navigation-wrapper">
    <a mat-tab-link *ngFor="let page of pages" (click)="activeLink = page.link" [active]="activeLink == page.link"
      [routerLink]="page.link">
      {{ page.label }}
    </a>
  </nav>
</div>
