@import "src/app/shared/colors.scss";

.profile {
  width: 100%;

  &__navigation {
    background-color: $white;
  }
  ::ng-deep {
    .mat-tab-label,
    .mat-tab-link {
      width: 33.35%;

      font-size: 21px;
      color: $black;
      opacity: 0.9;
    }
    .mat-ink-bar {
      height: 0.2em !important;
      background-color: $blue !important;
    }
    .mat-tab-labels {
      justify-content: center;
    }
  }
}
