@import "src/app/shared/colors.scss";

::ng-deep .mat-tab-label,
.mat-tab-link {
  width: 33.35%;
  font-size: 21px !important;
  color: $black !important;
  opacity: 0.9 !important;
}
.profile-navigation-container {
  ::ng-deep .mat-ink-bar {
    height: 0.1em !important;
    background-color: $blue;
  }
  ::ng-deep .mat-tab-labels {
    justify-content: center;
  }
}

.profile-navigation-container {
  width: 100%;

  ::ng-deep .mat-tab-label,
  .mat-tab-link {
    font-size: 22px;
    color: $black;
    opacity: 0.9;
  }
  ::ng-deep .mat-ink-bar {
    height: 0.2em !important;
    background-color: $blue !important;
  }
}
