@import "src/app/shared/colors.scss";

.mat-toolbar-container {
  width: 100%;
}
.mat-toolbar-user {
  z-index: 5;
  background-color: $white;
  box-shadow: 0px 0px 14px #00000033;
  height: 8vh;
  position: relative;
}
.mat-toolbar-guest {
  margin-top: 2vh;
  position: fixed;
  background-color: transparent;
}
.navigation-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  position: static;
}
.nav-wrap-user {
  margin: 0% 1%;
}
.nav-wrap-guest {
  margin: 0 6%;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;

  li {
    opacity: 0;
    transition: opacity 200ms ease-out;
  }
}

.title {
  position: relative;
  top: 5px;
}
.navigation-guest {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  ul:hover > li {
    opacity: 0.5 !important;
  }
  ul:hover li:hover {
    opacity: 1 !important;
  }
  li {
    display: flex;
    width: 195px;
    justify-content: center;
    border-radius: 11px;
    &:nth-child(4) {
      a {
        font-size: 23px;
      }
      a:focus {
        font-size: 20px;
      }
    }
    a:focus {
      font-size: 20px;
    }
  }

  a {
    text-decoration: none;
    color: $black;
    background-color: transparent;
    font-size: 22px;
    border-radius: 11px;
    padding: 2px 4px;
    cursor: pointer;
  }
}
.navigation-user {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  li {
    border-radius: 11px;
    margin-left: 0.7vw;
    &:nth-child(4) {
      position: relative;
      left: 1em;
      margin-left: 1.5vw;
      cursor: pointer;
    }
  }

  button {
    color: $black;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    opacity: 0.75;
    transition: 200ms opacity ease-in-out;
    &:hover {
      opacity: 1;
      transition: 200ms opacity ease-in-out;
    }
  }
  mat-icon {
    position: relative;
    right: 5px;
    bottom: 10px;
    width: 30px;
    font-size: 30px;
  }
}

.nav-user-account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3186f51e;
  i {
    position: relative;
    color: #3186f5b2;
    font-size: 30px;
  }
}
