@import "src/app/shared/colors.scss";

.main-container {
  width: 100%;
  height: calc(100%-107px);
  display: flex;
  justify-content: center;
}

.main-wrapper {
  margin: 18px 0;
  height: 783px;
  width: 80%;
}
@media (min-width: 501px) and (max-width: 1480px) {
  .main-wrapper {
    width: 97.5%;
  }
}

.inactive {
  visibility: hidden;
}
.active {
  visibility: visible;
}
::ng-deep {
  .mat-focused .mat-form-field-label {
    color: $blue !important;
    font-weight: 500;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $blue;
  }
  .cdk-overlay-dark-backdrop {
    background: $dialog-background;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent
    .mat-radio-ripple
    .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $blue;
  }
  .mat-focused .mat-form-field-label {
    color: $blue !important;
    font-weight: 500;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $blue;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $blue;
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $blue !important;
  }
  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: $blue !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $gray-light;
  }
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick {
    color: red !important;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $blue !important;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: $blue !important;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $blue;
  }
  .mat-datepicker-toggle-active {
    color: $blue !important;
    opacity: 0.8;
  }
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $blue;
  }
}
