@import "src/app/shared/colors.scss";

.calory-form-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 7px;
  align-items: center;
  position: relative;
  bottom: 25px;

  mat-label {
    font-size: 20px;
  }

  span {
    font-size: 19px;
    color: $gray-dark;
  }

  mat-form-field {
    input {
      position: relative;
      top: 4px;
      font-size: 22px;
    }
  }

  mat-form-field:first-child {
    grid-column: 1/3;
    width: 100%;
    position: relative;
    top: 14px;
  }

  mat-form-field:nth-child(4),
  mat-form-field:nth-child(5) {
    top: 7px;
  }

  mat-form-field:nth-child(2),
  mat-form-field:nth-child(3) {
    top: 14px;
  }

  ::ng-deep {
    .mat-focused .mat-form-field-label {
      color: $blue !important;
      font-weight: 500;
    }
    .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: $blue;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 5px 5px 0 5px !important;
    }
  }
}

.error-and-save-container {
  grid-column: 1/3;
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
  position: relative;
  top: 3px;
}
.error-message-wrapper {
  font-size: 19px;
  width: 65%;
}
.calculate-save-buttons {
  width: 35%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  span {
    text-align: center;
    font-size: 18px;
  }
  button:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    font-size: 18px;
    color: $white;
  }
  button:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    font-size: 18px;
    color: $black;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
