@import "../../../../styles/colors.scss";

.about-me-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: [col1-start] 32% [col2-start] 32% [col3-start] 32% [col3-end];
  grid-template-rows: [row1-start] 130px [row2-start] 130px [row3-start] 130px [row3-end];
  gap: 1.5em;
}
.user-login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: 600;
  // background-color: green;
  grid-column: col1-start / col2-start;
}
.one {
  // background-color: rgb(170, 4, 4);
  grid-column: col2-start / col3-end;
}
.two {
  // background-color: rgb(96, 150, 109);
  grid-column: col1-start / col3-end;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-expansion-panel {
    width: 45%;
    margin: 0 1.5em;
  }

  .calories {
    width: 100%;
    text-align: center;
    margin: 5px;
    font-size: 2em;
    font-weight: 600;
  }
  ul {
    align-items: flex-start;
  }
  .macronutrients {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    li {
      margin: 3px;
    }
  }
}
.three {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: col1-start / col3-end;

  mat-expansion-panel {
    width: 92.7%;
    margin: 0 1.5em;
  }
}
.four {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: col1-start / col3-end;
  padding: 0.2em;
  mat-expansion-panel {
    width: 92.7%;
    margin: 0 1.5em;
  }
}
mat-panel-title {
  font-size: 1.5em;
  padding: 1em 0;
}
::ng-deep .mat-expansion-panel {
  background: $white;
}
