<div class="about-me-container">

  <nav class="user-login-header">
    <div>{{ currentUser?.login }}</div>
  </nav>
  <div class="one">one</div>
  <div class="two">
    <mat-expansion-panel [expanded]="true" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bilans kaloryczny
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="calories">3500</div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Rozkład makroskładników
        </mat-panel-title>

      </mat-expansion-panel-header>
      <ul class="macronutrients">
        <li>Białko:</li>
        <li>Węglowodany:</li>
        <li>Tłuszcze:</li>
      </ul>
    </mat-expansion-panel>

  </div>

  <div class="three">
    <mat-expansion-panel [expanded]="true" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Moje dane
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </div>
  <div class="four">
    <mat-expansion-panel [expanded]="true" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wymiary
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </div>
</div>
