@import "src/app/shared/colors.scss";

.forgot-password-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .close-icon {
    height: 15px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    button {
      position: relative;
      bottom: 22px;
      left: 22px;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  mat-form-field {
    width: 90%;
    align-self: center;
    font-size: 19px;
    input {
      position: relative;
      top: 2px;
      font-size: 22px;
    }
    mat-error {
      position: relative;
      bottom: 3px;
      right: 11px;
      font-size: 17px;
    }
  }
  .title {
    width: 70%;
  }
  h3 {
    display: flex;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 45px;
  }
  .back-container {
    display: flex;
    width: 30%;
    flex-direction: row-reverse;
    button {
      cursor: pointer;
      color: $blue;
      background-color: transparent;
      font-size: 0.75em;
      border: none;
      transition: 200ms border-bottom ease-in;
      border-bottom: 2px solid $blue;
      &:focus {
        outline: none;
      }
      &:hover {
        border-bottom: 2px solid transparent;
        transition: 200ms border-bottom ease-out;
      }
    }
  }

  .submit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 12px 0;
    button {
      background-color: $blue;
      font-size: 21px;
      color: $white;
      width: 90%;
    }
  }

  mat-icon {
    font-weight: 600;
    font-size: 26px;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
    color: $black;
    transition: all 150ms ease-out;
    &:hover {
      color: $blue;
      opacity: 1;
      transition: all 150ms ease-out;
    }
  }
  validation-feedback {
    position: absolute;
    top: 45px;
    left: -12px;
    font-size: 17px;
  }
}
