<form class="register-form-wrapper" [style.padding]="registerExtended ? '0 0' : '0 18px'" [formGroup]="registrationForm"
  autocomplete="off">
  <mat-form-field appearance="fill" [singleErrorCleaner]="'name'">
    <mat-label>Nazwa</mat-label>
    <input matInput formControlName="name" />
    <validation-feedback controlName="name"></validation-feedback>
  </mat-form-field>

  <mat-form-field appearance="fill" [singleErrorCleaner]="'email'">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email" />
    <validation-feedback controlName="email"></validation-feedback>
  </mat-form-field>


  <mat-form-field appearance="fill" [singleErrorCleaner]="'password'">
    <mat-label>Hasło</mat-label>
    <input matInput [fieldsMatch]="registrationForm.get('repeat_password')" formControlName="password"
      [type]="hide ? 'password' : 'text'" />
    <validation-feedback controlName="password">
      <mat-error
        *ngIf="registrationForm.get('password').touched && registrationForm.get('password').getError('password') as error">
        Hasło powinno zawierać:
        <ng-container *ngIf="error.lowercase"> •małą literę </ng-container>
        <ng-container *ngIf="error.uppercase"> •dużą literę </ng-container>
        <ng-container *ngIf="error.number"> •cyfrę</ng-container>
      </mat-error>
    </validation-feedback>
  </mat-form-field>

  <mat-form-field appearance="fill" [singleErrorCleaner]="'repeat_password'">
    <mat-label>Powtórz hasło</mat-label>
    <input formControlName="repeat_password" matInput [type]="hide ? 'password' : 'text'"
      [fieldsMatch]="registrationForm.get('password')" />
    <button type="button" matSuffix mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <validation-feedback controlName="repeat_password"></validation-feedback>
  </mat-form-field>

  <div class="submit-button-container" *ngIf="!registerExtended">
    <button type="submit" (click)="save()" [style.opacity]="registrationForm.valid ? '1' : '0.6'" mat-stroked-button
      [disabled]="!registrationForm.valid">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <span *ngIf="!loading">Zarejestruj</span>
    </button>
  </div>
</form>
