#scene {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}
.logged-height {
  clear: both;
  height: calc(100vh - 118px);
  background-repeat: repeat-y;
  // background-attachment: fixed;
}
.unlogged-height {
  height: 100%;
}
#background {
  position: fixed;
  width: 200%;
  height: 200%;
  top: -40% !important;
  left: -40% !important;
}
.container {
  width: 100%;
  height: 100%;
}
