@import "src/app/shared/colors.scss";

.profile--card {
  width: 100%;
  height: 100%;
  background-color: $white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.profile-navigation-wrapper {
  width: 100%;
  display: inline;
  justify-content: center;
}
::ng-deep .mat-card {
  padding: 0 !important;
}
::ng-deep .mat-expansion-panel {
  background: $white;
}
