@import "src/app/shared/colors.scss";

.login-form-wrapper {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 100%;
  grid-template-columns: 1fr;
  mat-form-field {
    justify-self: center;
    width: 90%;
    font-size: 19px;
    input {
      position: relative;
      top: 2px;
      font-size: 22px;
    }
    mat-icon {
      position: relative;
      right: 2px;
      color: $black;
      font-size: 28px;
      opacity: 0.6;
    }
  }
  .forgot-password-container {
    position: relative;
    bottom: 4px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button {
      color: $blue;
      font-size: 18px;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid transparent;
      transition: 100ms border-bottom ease-in;
      &:hover {
        border-bottom: 2px solid $blue;
        transition: 100ms border-bottom ease-in;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .submit-button-container {
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blue;
      color: $white;
      font-size: 22px;
      border-radius: 7px;
      width: 90%;
      height: 100%;
    }
  }
  validation-feedback {
    position: absolute;
    top: 45px;
    left: -12px;
    font-size: 17px;
  }
  mat-spinner {
    stroke: $white !important;
    zoom: 0.28;
  }
  ::ng-deep {
    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: $white;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      border-radius: 6px 6px 0 0;
      background-color: rgba(0, 0, 0, 0.03);
      box-shadow: inset 0px 0px 4px 0px $gray-light-25-opacity;
    }
  }
}
