@import "src/app/shared/colors.scss";

.personal-data-form-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(3, 26%) 22%;
  grid-template-rows: 75px 75px;
  grid-column-gap: 10px;
  grid-row-gap: 0;

  .personal-data-save-button {
    width: 90%;
    margin-left: 3px;
    button {
      position: relative;
      top: 1px;
      width: 100%;
      height: 70%;
      background-color: $blue;
      color: $white;
      font-size: 20px;
    }
  }
  .checkbox {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    mat-checkbox {
      position: relative;
      left: 5px;
    }
    span {
      font-size: 18px;
      margin-left: 5px;
      position: relative;
      top: 1px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  mat-form-field {
    font-size: 16px;

    input,
    mat-select,
    mat-label {
      font-size: 18px;
    }
    input {
      position: relative;
      top: 3px;
    }
  }
  ::ng-deep {
    .mat-ripple-element {
      background-color: rgba(255, 255, 255, 0.226);
    }
    .mat-form-field-appearance-fill .mat-form-field-label {
      margin-top: -0.4em;
    }
    .mat-form-field-flex {
      padding: 0.45em 0.45em 0 0.45em;
    }
    mat-checkbox .mat-ripple-element {
      background-color: $blue !important;
    }
    .mat-select-arrow-wrapper {
      position: relative;
      top: 6px;
    }
  }
  .error {
    position: absolute;
    top: 36px;
    left: -7px;
    font-size: 0.9em;
  }
}
