<form autocomplete="off" [formGroup]="personalDataForm" (ngSubmit)="save()" class="personal-data-form-container">
  <mat-form-field appearance="fill">
    <mat-label>Imię</mat-label>
    <input matInput formControlName="forename">
    <validation-feedback controlName="forename">
    </validation-feedback>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Płeć</mat-label>
    <mat-select formControlName="gender">
      <mat-option *ngFor="let gender of genders" [value]="gender.value">
        {{gender.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Miejscowość</mat-label>
    <input matInput formControlName="city">
    <validation-feedback controlName="city">
    </validation-feedback>
  </mat-form-field>
  <div class="checkbox">
    <mat-checkbox name="checked" formControlName="residingAbroad"></mat-checkbox>
    <span (click)="toggleControlValue()">Nie mieszkam w Polsce</span>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Nazwisko</mat-label>
    <input matInput formControlName="surname">
    <validation-feedback controlName="surname">
    </validation-feedback>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data urodzenia</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [min]="minDate" [max]="maxDate" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Województwo</mat-label>
    <mat-select [(value)]="personalDataForm.controls['province'].value"
      [disabled]="personalDataForm.controls['residingAbroad'].value" formControlName="province">
      <mat-option *ngFor="let province of provinces" [value]="province.value">
        {{province.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="personal-data-save-button">
    <button mat-raised-button type="submit" [disabled]="!buttonStatus" [style.opacity]="buttonStatus ? '1' : '0.7'">
      <div matTooltipClass="blue-tooltip" matTooltipPosition="above"
        [matTooltip]="!buttonStatus ? 'Uzupełnij co najmniej dwa pola' : ''">Zatwierdź</div>
    </button>
  </div>
</form>
