<div class="profile-editor-container" #profileEditorRef>
  <div class="avatar-wrapper">
    <div class="select-avatar-upper">
      <div class="select-avatar-bottom">
        <i class="fa fa-user"></i>
        <button mat-raised-button>
          <i class="fa fa-camera"></i>
          Zmień zdjęcie</button>
      </div>
    </div>
  </div>

  <div class="calory-data-wrapper">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Kaloryka
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-calory-form></app-calory-form>
    </mat-expansion-panel>
  </div>
  <mat-accordion multi>
    <div class="personal-data-wrapper">
      <mat-expansion-panel [expanded]="step === 1" (opened)="step = 1" (closed)="step = 2">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dane osobowe
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-personal-data-form></app-personal-data-form>
      </mat-expansion-panel>
    </div>
    <mat-accordion multi>
      <div class="body-measurements-data">
        <mat-expansion-panel [expanded]="step === 2" (opened)="step = 2" (closed)="step = 1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pomiar
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-measurement-form></app-measurement-form>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="step = 2" (closed)="step = 1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Wymiary
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-body-dimensions-form></app-body-dimensions-form>
        </mat-expansion-panel>
      </div>
    </mat-accordion>

  </mat-accordion>
</div>
