<div class="meal-template" [ngClass]="diaryMode ? 'meal-template--diary-mode' : ''">
  <div class="meal-template__header">
    <div class="meal-template__header--timepicker">
      <input matTooltip="Wybierz godzinę" matTooltipClass="blue-tooltip" [matTooltipPosition]="'above'"
        placeholder="00:00" [(ngModel)]="mealTemplate.time" [ngxTimepicker]="fullTime" [format]="24" readonly>
      <ngx-material-timepicker #fullTime [cancelBtnTmpl]="cancelButton" [confirmBtnTmpl]="confirmButton">
      </ngx-material-timepicker>
      <ng-template #cancelButton>
        <button mat-raised-button class="cancel-button" style="margin-right: 10px;">Zamknij</button>
      </ng-template>
      <ng-template #confirmButton>
        <button mat-raised-button class="confirm-button">Zatwierdź</button>
      </ng-template>
    </div>
    <div class="meal-template__header--name">
      <mat-form-field appearance="standard">
        <input matInput autocomplete="off" maxlength="50" [(ngModel)]="mealTemplate.name"
          (ngModelChange)="templateName.emit(true)" placeholder="Nazwa posiłku">
      </mat-form-field>
      <ng-content>
      </ng-content>
    </div>
  </div>
  <div class="meal-template__wrapper">
    <ul class="meal-template__headers">
      <li>Produkt</li>
      <li>Ilość</li>
      <li>Kcal</li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="meal-template__body">
      <mat-chip-list *ngIf="mealTemplate.products.length !== 0" class="meal-template__body--products" cdkDropList
        cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
        <div class="meal-template__body--product" *ngFor="let product of mealTemplate.products; let i = index">
          <div class="chip-box">
            <mat-chip cdkDrag (removed)="removeProduct(product)">
              {{product.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </div>
          <div class="quantity">
            <input matInput zeroPrefixDeleter [ngModel]="product.quantity  | number : '1.0-0'" autocomplete="off"
              type="number" [inputMaxLength]="3" (ngModelChange)="calculateByQuantity($event, i)">
            <div class="input-bottom-line"></div>
            <span matSuffix
              [ngClass]="product.quantity < 10 ? 'move-left-one-digit-length' : product.quantity < 100 ? 'move-left-two-digit-length' : 'move-left-three-digit-length'">g</span>
          </div>
          <div class="calory">
            <input matInput zeroPrefixDeleter [ngModel]="product.calory  | number : '1.0-0'" autocomplete="off"
              type="number" [inputMaxLength]="3" (ngModelChange)="calculateByCalory($event, i)">
            <div class="input-bottom-line"></div>
          </div>
          <div class="macro-item">
            <span>{{product.protein | number : '1.0-1'}}</span>
            <span matSuffix>g</span>
          </div>
          <div class="macro-item">
            <span>{{product.carb | number : '1.0-1'}}</span>
            <span matSuffix>g</span>
          </div>
          <div class="macro-item">
            <span>{{product.fat | number : '1.0-1'}}</span>
            <span matSuffix>g</span>
          </div>
        </div>
      </mat-chip-list>
      <div class="meal-template__body--no-products" *ngIf="mealTemplate.products.length === 0"></div>
    </div>

    <app-meal-template-summary #mealTemplateSummary (summaryUpdate)="summaryUpdate.emit(true)"
      [abstractProducts]="abstractProducts" [diaryMode]="diaryMode">
    </app-meal-template-summary>
    <app-meal-template-search #productSearch (abstractProductEmitter)="createAbstractSummary($event)"
      (addProductEmitter)="addProduct($event)" (addOwnProductEmitter)="addOwnProduct($event)" [diaryMode]="diaryMode"
      [searchDisabled]="mealTemplate.products.length > 9" [productsLength]="mealTemplate.products.length">
    </app-meal-template-search>
    <div class="meal-template__buttons" *ngIf="!diaryMode">
      <button mat-raised-button [disabled]="mealTemplate.products.length === 0" (click)="resetMealTemplate()"
        [style.opacity]="mealTemplate.products.length !== 0 ? '1' : '0.8'">
        Resetuj
      </button>
      <div
        [matTooltip]="productSearch.selectedProduct ? 'Dodaj lub usuń wybrany produkt' : mealTemplate.products.length > 9 ? 'Maksymalna ilość produktów to 10' :''"
        matTooltipClass="red-tooltip" [matTooltipPosition]="'above'">
        <button mat-stroked-button [disabled]="productSearch.selectedProduct || mealTemplate.products.length > 9"
          #openDialogButton (click)="addOwnProduct(openDialogButton)"
          [style.opacity]="!productSearch.selectedProduct ? '1' : '0.8'">
          Dodaj własny produkt
        </button>
      </div>
      <div [matTooltip]="mealTemplate.name !== '' && mealTemplate.products.length > 0 ? '' :
      mealTemplate.name === '' && mealTemplate.products.length === 0 ? 'Dodaj nazwę szablonu oraz produkty' :
       mealTemplate.name === '' ? 'Dodaj nazwę szablonu' : 'Dodaj produkty'" matTooltipClass="blue-tooltip"
        [matTooltipPosition]="'above'">
        <button mat-raised-button [disabled]="mealTemplate.products.length === 0 || mealTemplate.name === ''"
          [style.opacity]="mealTemplate.products.length !== 0 && mealTemplate.name !== '' ? '1' : '0.8'"
          (click)="save()">
          {{type === 'create' ? 'Zapisz' : 'Zaktualizuj'}}
        </button>
      </div>
    </div>
  </div>
</div>
