<nav class="header" #header>
  <div class="logo" #logo (click)="navigate('/home')">
    <app-logo></app-logo>
  </div>
  <ul class="menu" #menu>
    <li class="menu__item"><a (click)="navigate('register')">Przepisy</a></li>
    <li class="menu__item"><a routerLink="/">Kalkulatory</a></li>
    <li class="menu__item"><a routerLink="/">O nas</a></li>
    <li class="menu__item"><a routerLink="/">Jak to działa?</a></li>
  </ul>
  <div class="account" #account>
    <button (click)="navigate('login')">
      <mat-icon>person</mat-icon>
      Konto
    </button>
  </div>
</nav>
