@import "src/app/shared/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins";
}
.mat-calendar-body-cell-content.mat-calendar-body-selected {
  background-color: $blue !important;
  color: $white !important;
}
.mat-checkbox-inner-container {
  margin-right: 14px !important;
}
