@import "src/app/shared/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
  margin: 0;
  color: $black;
  font-family: "Poppins";
}

.mat-calendar-body-cell-content.mat-calendar-body-selected {
  background-color: $blue !important;
  color: $white !important;
}
.mat-checkbox-inner-container {
  margin-right: 14px !important;
}
mat-chip {
  background-color: $blue !important;
  color: $white !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) !important;
  font-size: 18px !important;
  padding: 10px !important;
}
.blue-tooltip {
  background: $blue-low-opacity;
  color: $white;
}
.red-tooltip {
  background: $red-low-opacity;
  color: $white;
}
.warning-tooltip {
  background: $warning;
  color: $black;
}
.blue-tooltip,
.red-tooltip,
.warning-tooltip {
  top: 1px;
  padding: 5px 7px;
  font-weight: 600;
  font-size: 1em;
  position: relative;
  bottom: 6px;
  border-radius: 7px !important;
  white-space: pre-line;
  box-shadow: 1px 0px 5px #00000033;
}
.mat-select-panel .mat-option {
  height: 2.8em !important;
  line-height: 2.8em !important;
  // font-size: 18px !important;
}
mat-option .mat-option-text .option {
  font-size: 18px !important;
}
::ng-deep {
  .mat-tooltip {
    white-space: pre-line;
  }
}
.mat-snack-bar-container {
  background-color: $blue;
  color: $white;
  .mat-simple-snackbar {
    letter-spacing: 1px;
    font-size: 18px;
  }
  .mat-simple-snackbar-action {
    color: $white;
  }
  .mat-button-wrapper {
    font-size: 18px;
    position: relative;
    top: 2px;
  }
}
.mat-snack-bar-error {
  background-color: $red;
}
.mat-snack-bar-warning {
  color: $black;
  background-color: $warning;
  .mat-simple-snackbar-action {
    color: $black;
  }
}
.expanded-select {
  min-height: 43.5vh;
}

.subpage-card {
  width: 100%;
  height: 100%;
  background-color: $white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  &--scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
