<div class="measurement-form-container">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Waga</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>kg</span>
    </mat-form-field>
    <mat-form-field appearance="fill" class="test">
      <mat-label>Talia</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>cm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Biodra</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>cm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Łydki</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>cm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Udo</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>cm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tkanka tłuszczowa</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Klatka piersiowa</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>cm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Biceps</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>cm</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Przedramienię</mat-label>
      <input type="number" matInput autocomplete="off">
      <span matSuffix>cm</span>
    </mat-form-field>
    <div class="measurement-save-button">
      <button mat-raised-button>Zatwierdź</button>
    </div>
  </form>
</div>
