@import "src/app/shared/colors.scss";

.measurement-form-container {
  width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(2, 50%);

  mat-form-field {
    margin: 0 3%;
    font-size: 16px;
    mat-label {
      font-size: 19px;
    }
    input {
      font-size: 18px;
      position: relative;
      top: 5px;
    }
    span {
      margin-left: 15px;

      opacity: 0.7;
      font-size: 18px;
    }
  }
  .measurement-save-button {
    margin: 0 3%;
    width: 94%;
    height: 50px;
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    transform: translateY(3px);
    button {
      width: 100%;
      background-color: $blue;
      color: $white;
      font-size: 20px;
    }
  }
  ::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-label {
      margin-top: -0.4em;
    }
    .mat-ripple-element {
      background-color: rgba(255, 255, 255, 0.226);
    }
    .mat-form-field-flex {
      padding: 0.58em 0.45em 0.15em 0.45em;
    }
    mat-checkbox .mat-ripple-element {
      background-color: $blue !important;
    }
  }
  .error {
    position: absolute;
    top: 36px;
    left: -7px;
    font-size: 0.9em;
  }
  validation-feedback {
    width: 310px;
    position: absolute;
    top: 39px;
    left: -8px;
    font-size: 16px;
  }
}
