<div class="home-container">
  <div class="card-wrapper" #welcomeWindow>
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title class="mat-card-title">
          <div class="mat-card-title-children">Witaj!</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span>
          Foodiary jest prostą w obsłudze aplikacją stworzoną z myślą o użytkownikach chcących
          zmienić swoje nawyki żywieniowe.
        </span>
      </mat-card-content>
      <mat-card-footer>
        <div class="button-container">
          <a href="">Rozpocznij</a>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="arrows-container" #arrowContainer>
    <span class="arrows-word">PRZEWODNIK</span>
    <div class="test"><i class="fa fa-angle-double-down" #arrow></i></div>
  </div>
</div>
