<div class="home-container">
  <div class="home">
    <div class="heading" #heading>
      <h1>Dieta</h1>
      <p>Już <b>nigdy</b> nie musi być monotonna ani trudna w realizacji</p>
    </div>
    <div class="info" #info>
      <p>Foodiary umożliwia obliczenie Twojego zapotrzebowania
        kalorycznego w zależności od ustalonego celu, a następnie utworzenie diety
        złożonej z własnych posiłków lub inspirując się przepisami stworzonych przez użytkowników
      </p>
    </div>
    <div class="begin" #begin>
      <button mat-flat-button (click)="navigate('/questionnaire')">Ustal kalorykę</button>
      <button mat-flat-button (click)="navigate('/register')">Zarejestruj</button>
    </div>
  </div>
</div>
