@import "src/app/shared/colors.scss";

.home-container {
  color: $black;
  width: 100%;
  height: 50%;
  margin-top: 10%;
  display: grid;
}
.card-wrapper {
  margin-top: 5%;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: $white;
  color: $black;
  width: 480px;
  height: 500px;
}
mat-card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.mat-card-title {
  font-size: 2.5em;
  width: 100%;
}
mat-card-content {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 7%;
}
span {
  font-size: 1.7em;
  line-height: 1.3;
}
.mat-card-title-children {
  width: 100%;
  margin: 1em;
}
mat-card-footer {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px $black;
  border-radius: 15px;
  background-color: $white;
  width: 140px;
  height: 50px;
  transition: background-color 250ms ease-in;
  a {
    font-size: 1.7em;
    text-decoration: none;
    color: $black;
    transition: color 250ms ease-in;
  }
  &:hover {
    cursor: pointer;
    background-color: $black;
    transition: background-color 250ms ease-out;
    a {
      color: $white;
    }
  }
}
.arrows-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.7em;
}
.arrows-word {
  font-size: 32px;
}
